body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ql-editor {
  line-height: 1.5rem !important;
  min-height: calc(1.5rem * 5) !important;   /* starts with 5 rows */
  max-height: 400px !important;           /* expands until this height */
  overflow-y: auto !important;
}
